{# templates/home/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Prueba Home.html.twig{% endblock %}

{% block body %}
    <div id="content">
        <img src="{{ asset('build/images/img/mhr-cover.png') }}" style="width: 100%;" />
    </div>
{% endblock %}
