{# templates/contact/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div>
        TELEFONO: +34 980 00 00 00
        EMAIL: correo@correo.com
        TWITTER:
        FACEBOOK:
        INSTAGRAM:
        GOOGLE+:
        WHATSAPP:
        TELEGRAM:
    </div>
{% endblock %}
